In [1]:
import pandas

In [6]:
import pandas
company = ["Enron", "Anderson", "Gk Jones", "Mica", "Dune"]
share = [1000000, 1500000, 30000000, 250000, 800000]
liability = [200000, 500000, 1500000, 50000, 300000]
Date = [1987, 1936, 2001, 1996, 2008]


for a,b in zip(share,liability):
    c = ((a-b)/a)*100
    print (c)
    
data = {"Company":company, "Company's Shares":share, "Year": Date, "Percentage Leverage": c }

Data_Frame = pandas.DataFrame(data)
Data_Frame.to_excel("sims.xlsx")
print(Data_Frame)

80.0
66.66666666666666
95.0
80.0
62.5
    Company  Company's Shares  Year  Percentage Leverage
0     Enron           1000000  1987                 62.5
1  Anderson           1500000  1936                 62.5
2  Gk Jones          30000000  2001                 62.5
3      Mica            250000  1996                 62.5
4      Dune            800000  2008                 62.5

In [6]:
import pandas

def sims():
    condition = int(input("Amount of Data:"))
    names = []
    departments = []
    levels = []
    matric_numbers =[]
    
    
    for a in range(condition):
        name = str(input("Input a name: "))
        names.append(name)
        department = str(input("Input department: "))
        departments.append(department)
        level = int(input("input level:"))
        levels.append(level)
        matric_number = int(input("Input Matric_no: "))
        matric_numbers.append(matric_number)
        print(".........")
        
    
    data = {"Name" : names, "Department": departments, "Level": levels, "MAtric Number": matric_numbers }
    
    Data_Frame = pandas.DataFrame(data)
    Data_Frame.to_excel("sims.xlsx")
    return Data_Frame



sims()

Amount of Data:1
Input a name: qwerf
Input department: qwer
input level:100
Input Matric_no: 100
.........

    Name Department  Level  MAtric Number
0  qwerf       qwer    100            100

The global economy has over the years been affected by various scandals and market crisis, ranging from the stock market crash of 1987 to the I.T bubble of the early 2000s (famously called the dotcom bubble). Recent research has cited over-leverage which is the difference between the company’s assets and liability divided by the assets; as the major reason for some of the crisis. Researchers has also defined assets as things like the company’s shares or investments while liabilities are the company’s loans.

<p>The recent financial crisis of 2020 saw companies like Enron corporation, Anderson corporation, GK Jones, Mica and Dune industries which were founded in 1987,1936,2001,1996 and 2008 respectively; all go bankrupt.
More data are as follows:</p>

<img src="enron.jpg">

You have been tasked to apply your algorithmic skills through python implementation in creating an excel file containing the companies, the date they were founded, their assets and liabilities as well as the various percentage leverages used by each company.

​