# revision

In [14]:
a = float(input("Jane Pick a number"))
b = float(input("Jack pick a number"))

print("Jane and Jack please open your hands in 3.....2........1")
print(".............")

c = (a + b)

if c % 2 == 0:
    print ("c is an even number")
else:
    print ("c is an odd number")
    
for w in a

Jane Pick a number4
Jack pick a number3
Jane and Jack please open your hands in 3.....2........1
.............
c is an odd number

In [1]:
import pandas

def sims():
    condition = int(input("Amount of Data:"))
    names = []
    departments = []
    levels = []
    matric_numbers =[]
    
    
    for a in range(condition):
        name = str(input("Input a name: "))
        names.append(name)
        department = str(input("Input department: "))
        departments.append(department)
        level = int(input("input level:"))
        levels.append(level)
        matric_number = int(input("Input Matric_no: "))
        matric_numbers.append(matric_number)
        print(".........")
        
    
    data = {"Name" : names, "Department": departments, "Level": levels, "MAtric Number": matric_numbers }
    
    Data_Frame = pandas.DataFrame(data)
    Data_Frame.to_excel("sims.xlsx")
    return Data_Frame



sims()

Amount of Data:1
Input a name: qwert
Input department: qwer
input level:100
Input Matric_no: 134567
.........

    Name Department  Level  MAtric Number
0  qwert       qwer    100         134567

In [8]:
R&Dspend = (12345, 123456, 45678543, 2345678, 12345),
Admin = (2562.38, 2782.27, 52682.278, 27892.28, 2782.892), 
Mark. Spend = (7363.38, 383.33, 3388.33, 38838.33, 38783.38), 
state = ("Lagos", "Kano", "Abuja", "Ibadan", "Ogun"),
profit = (23456.234, 12345.234, 2345.2345, 2345.2345, 23452.2345)

SyntaxError: cannot assign to operator (<ipython-input-8-39507e57c7b3>, line 1)